
<hr/>
<h3>Strona została stworzona na potrzeby projektu z Programowania Urządzeń Mobilnych przez dwóch młodych adeptów sztuki programowania. Liczymy na to, że strona się Państwu spodoba. Przynajmniej w stopniu dostatecznym.</h3>

